.git
.gitignore
.vercel
.vscode
node_modules
dist
npm-debug.log
pnpm-lock.yaml
postman
CPANEL-DEPLOYMENT.md
CPANEL-QUICK-SETUP.md
CPANEL-TROUBLESHOOTING.md
DEPLOYMENT-STATUS.txt
README.md
.env
.env.*
